<h3>Log In</h3>
<!-- 
<% if @errors %> 
  <%= @errors %> 
<% end %>  -->

<form action="/sessions" method="POST"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="Login"><br>
</form>