<h1>Search Results</h1>
<% if !@songs.empty? %> 
  <%= p @songs %>
  <ol>
  <% @songs.each do |song, details| %> 
      
      <ul>
        <% video_id = details[1] %> 
        <% if video_id != nil %> 
          <a href=<%= @url + video_id.to_s %>>
            <li><%= details[0] %> </li>
            <img src=<%= details[2] %> > 
          </a>
        <% end %> 
      </ul>
  <% end %> 
  </ol> 
<% else %> 
  <p>No results. Please try again.</p>
<% end %> 