body {
  background-image: url("../img/blurred_background.jpg");
}



.submitLink {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #9d9d9d;
  cursor: pointer;
}

submitLink:focus {
  outline: none;
}

#queue-song-link {
  color: white;
}