<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <div id="search">
  <form action="/songs" method="GET"> 
    <input id="query" type="text" name="query" placeholder="Search for a video">
    <button type="submit" id="submit">Search</button>
  </form>
  </div>
  <div id="search_results">
    <h2>Search Results</h4>
  </div>
  <div id="queue">
    <h2>Next Singer</h4>
  </div>
</body>
</html>