<div class="container">

<a href="/">Home</a>
<center><h2> All Lil' Grapes </h2></center>

<% @posts.each do |post| %>
	<p>
	<%= post.description %><br>
	posted by: <%= post.user.full_name %>
	</p>
<% end %>

</div>