
<center><h1>Welcome to Lil' Grape</h1></center>
    
<br>

<a href="/users/new">Register</a>

<h3>Login</h3>
<% if @login_error %>
	<%= @login_error %>
<% end %>
<form action="/sessions/new" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="submit" value="Login">
</form>